# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# посчитаем количество людей для каждого уникального значения из столбца children
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# отсортируем заемщиков по количеству детей на 3 категории: бездетные, малодетные и многодетные
def children_number(row):
    child = row['children']
    if child == 0:
        return 'бездетные'
    elif 1 <= child <= 2:
        return 'малодетные'
    elif child >=3:
        return 'многодетные'
data['child_category'] = data.apply(children_number, axis=1)
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,child_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,малодетные
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,малодетные
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,бездетные
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,многодетные
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,бездетные
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью,малодетные
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем,бездетные
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью,малодетные
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем,многодетные
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем,малодетные

In [24]:
# посчитаем количество значений в каждой категории
data['child_category'].value_counts()

бездетные      14091
малодетные      6860
многодетные      380
Name: child_category, dtype: int64

In [25]:
# посчитаем количество должников в каждой категории
data.groupby('child_category')['debt'].sum()

child_category
бездетные      1063
малодетные      638
многодетные      31
Name: debt, dtype: int64

In [26]:
# посчитаем отношение должников к общему количеству заемщиков по каждой категории
data_debt_child = data.groupby(['child_category']).agg({'debt':['mean']})
data_debt_child

                    debt
                    mean
child_category
бездетные       0.075438
малодетные      0.093003
многодетные     0.081579

**Вывод:** 
Заемщики без детей в среднем возвращают кредит в срок в бОльшем соотношении, чем заемщики с детьми.
Однако у многодетных семей (3 ребенка и больше) отношение должников ко всем заемщикам в группе ниже, чем у малодетных семей (1-2 ребенка).
Соответственно, нельзя утверждать, что существует обратная зависимость между количеством детей и возвратом кредита в срок.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
Да, кредитополучатели без детей являются немного более ответственными, чем клиенты у которых есть дети. Видимо, наличие ребенка накладывает на клиента дополнительные затраты, что усложняет своевременную выплату по кредитным обязательствам.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# посчитаем количество людей для каждого уникального значения из столбца family_status
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

In [28]:
# посчитаем количество должников в каждой категории
data.groupby('family_status')['debt'].sum()

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [29]:
# посчитаем отношение должников к общему количеству заемщиков по семейному положению
data_debt_fam = data.groupby(['family_status']).agg({'debt':['mean']})
data_debt_fam

                           debt
                           mean
family_status
Не женат / не замужем  0.097639
в разводе              0.070648
вдовец / вдова         0.066246
гражданский брак       0.093130
женат / замужем        0.075606

**Вывод:**

Зависимость между семейным положением и возвратом кредита в срок существует.
Соотношение должников к общему количеству заемщиков по категориям распределилось следующим образом (от бОльшего к меньшему):
1. не женат / не замужем
2. гражданский брак
3. женат/замужем
4. в разводе
5. вдовец/вдова

Заемщики в категории "не женат / не замужем" имеют самый большой коэффициент среди должников по категориям, близкий к нему показатель у тех, кто находится в гражданском браке.

Показатели у людей "в разводе" и "женат / замужем" практически на одном уровне и в целом ниже, чем у предыдущих категорий.

Наиболее ответственными заемщиками являются вдовцы.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
В точку! Кредитному отделу следует с осторожностью относиться к клиентам, которые не состоят или не состояли в браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [30]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# посчитаем количество людей для каждого уникального значения из столбца total_income_category
data['total_income_category'].value_counts()

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [31]:
# посчитаем количество должников в каждой категории
data.groupby('total_income_category')['debt'].sum()

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [32]:
# посчитаем отношение должников к общему количеству заемщиков по уровню дохода
data_debt_fam = data.groupby(['total_income_category']).agg({'debt':['mean']})
data_debt_fam

                           debt
                           mean
total_income_category
A                      0.080000
B                      0.070602
C                      0.084982
D                      0.060172
E                      0.090909

**Вывод:** 
Кредитополучатели в сответствии с доходом были распределны по категориям:

0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

Рейтинг заемщиков в соответствии с уровнем доходов следующий:
1. Е
2. С
3. А
4. В
5. D

Прямая корреляция между уровнем дохода и возвратом кредита в срок не наблюдается.

К категории 'Е' относятся заемщики, доход которых составляет от миллиона, по отношению должников к общему количеству заемщиков они на первом месте, однако общее количество заемщиков данной категории на порядок ниже, чем количество заемщиков в категории 'С'.

По отношению между количеством должников и общим количествои людей в каждой категори, получается, что наиболее ответственными плательщиками являются заемщики из категории 'D', однако необходимо рассмотреть дополнительные критерии, например, цель получения кредита.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
Согласен.
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [33]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# посчитаем отношение должников к общему количеству заемщиков по каждой цели кредита
data_debt_purpose = data.groupby(['purpose_category']).agg({'debt':['mean']})
data_debt_purpose

                              debt
                              mean
purpose_category
операции с автомобилем    0.093480
операции с недвижимостью  0.072551
получение образования     0.092528
проведение свадьбы        0.079118

**Вывод:** 
У категорий "операции с автомобилем" и "получение образования" примерно одинаковые значения, что аналогично для категорий "проведение свадьбы" и "операции с недвижимостью".
Результаты группировки привели к схожим значениям по категориям, следовательно, недостаточно данных для выявления зависимости целей кредита для его возврата в срок.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
Клиенты, бравшие кредит на автомобиль и на образование, чаще становятся должниками. Сложно сказать, каковы причины таких особенностей.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

Пропуски в исходных данных присутствуют в столбцах "общий трудовой стаж в днях" и "ежемесячный доход".

Возможные причины появления пропусков в исходных данных: 
1. работают неофициально, поэтому нет фиксации их деятельности и доходов;
2. студенты;
3. безработные и никогда нигде не были оформлены.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
Совершенно верно, также возможно, пропуски появились из-за нежелания пользователей оставлять эти данные или из-за ошибки.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 

Заполнить пропуски медианным значением — лучшее решение для количественных переменных, т.к. медиана наименее отклоняется от среднего, поскольку среднее значение может некорректно характеризовать данные, когда некоторые значения сильно выделяются среди большинства.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
 Верно, медианы более устойчивы к выборсам.

### Шаг 4: общий вывод.

**Общий вывод:** 

Заемщики без детей в среднем возвращают кредит в срок в бОльшем соотношении, чем заемщики с детьми.

Заемщики в категории "не женат / не замужем" имеют самый большой коэффициент среди должников по категориям, близкий к нему показатель у тех, кто находится в гражданском браке, а наиболее ответственными заемщиками являются вдовцы.

Не наблюдается четкая зависимость между уровнем дохода и возвратом кредита в срок и между разными целями кредита.

По 4 сравнениям разница в процентном соотношении небольшая, однако численность групп на порядок отличается.

Соответсвенно, по отдельности нельзя утверждать, что существует зависимость между: 

1. количеством детей и возвратом кредита в срок; 
2. семейным положением и возвратом кредита в срок; 
3. уровнем дохода и возвратом кредита в срок;
4. разными целями кредита;

поскольку необходимо рассматривать все 4 гипотезы в совокупности для более точного анализа зависимостей.

<div class="alert alert-success">
<b>Комментарий ревьюера v.1</b> 
    
👍 
Выводы понятны и логичны, а самое главное подкреплены выявленными фактами.
</div>

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-success">
<b>Обратная связь v.1</b> 
    
👋   
Елизавета, у тебя получилась очень сильная и хорошая работа. Здорово, что не забываешь про комментарии, твой проект интересно проверять.
    
Я готов принять твой проект и если у тебя не осталось каких-либо вопросов, то пришли свой проект на повторное ревью и он будет принят 😊